---
name: Build docker images
on:
  push: {}
  pull_request: {}
  schedule:
    - cron: "12 5 * * *"

jobs:
  molecule:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        include:
          - IMAGE: docker-ansible-fedora31
            FROM_TAG: "31"
          - IMAGE: docker-ansible-fedora32
            FROM_TAG: "32"
          - IMAGE: docker-ansible-fedora33
            FROM_TAG: "33"

    steps:
      - name: Set up QEMU
        uses: docker/setup-qemu-action@v1

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v1

      - name: Login to DockerHub
        uses: docker/login-action@v1
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}
      - name: Build and push
        id: docker_build
        uses: docker/build-push-action@v2
        with:
          push: true
          tags: ${{ secrets.DOCKERHUB_USERNAME }}/${{ matrix.IMAGE }}:latest
          build-args: |
            FROM_TAG=${{ matrix.FROM_TAG }}
